<!DOCTYPE html>
<html>
  <head>
<!--from basicao-->
<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="google-signin-client_id" content="XXXXXXXXXXXXXXX.apps.googleusercontent.com">

	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="../static/js/facebook.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js"></script>
	<script src="../static/js/googlelogin.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" async defer></script>

	<script src="../static/js/application.js"></script>
	<script src="../static/js/form.js"></script>
	<script src="../static/js/map.js"></script>
	<style>
		@import url("../static/css/main.css");
	</style>

<!--end from basicao-->

    <meta charset="utf-8">
    <title>Time Tracker&trade;</title>
    <link rel="shortcut icon" type="image/x-icon" href="https://static1.squarespace.com/static/57e3d8db37c581fc1153310c/t/596df1d617bffc03c0cd205f/favicon.ico">

    <!--Import Adelle Font-->
    <link rel="stylesheet" href="https://use.typekit.net/kkw0eee.css">

    <!--Import materialize.css-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <!--Normalize to adapt to different browsers-->
    <link data-require="normalize@3.0.3" data-semver="3.0.3" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" />

    <style>
		@import url("/static/css/tt_style.css");
	</style>

</head>

  <body style="background-color:#ffe763">
      <!--header page-->

    <div>
	<section id="header">
			<nav>
				<div class="nav-wrapper">
					<a href="#" data-target="mobile-demo" class="sidenav-trigger">
						<div class="NavbarToggle">
							<div class="ToggleOne"></div>
							<div class="ToggleTwo"></div>
							<div class="ToggleThree"></div>
						</div>
					</a>
				</div>
			</nav>
			<ul class="sidenav" id="mobile-demo">
				<li><a href="javascript:void(0)" onclick="showloginPage()"><i class="material-icons" >home</i> &nbsp; Início</a></li>
				<li><a href="javascript:void(0)" onclick="showmapPage()"><i class="material-icons" >map</i> &nbsp; Mapa</a></li>
				<li><a href="javascript:void(0)" onclick="showformPage()"><i class="material-icons" >assignment</i> &nbsp; Cadastro</a></li>
			</ul>
	</section>

            <!--loginPage page-->

    <section id="loginPage">
    <div >
    <div class="container" >
      <section>
        <div>
        <center>
        <br/>
        <br/>
        <a target="_blank" name= "LogoApp" href="https://www.thealmacollective.com">
        <img src="/static/logoapp.png" width="150" alt="Logo do App"/></a>
        </center>
        <br>
        <br>
        </div>
      </section>
     <br>
     <br>
     <br>

        <div class="row" style="text-align:center">
        <span class="flow-text" style= "font-family: adelle-sans; font-size: 25pt; line-height:25pt;text-transform:bold">We all speak our language to our children “all the time”.
        But how much is it really? Use the Time Tracker™ to find out.
        </span>
        </div>
        <br>
        <br>

        <div>
        <center><button class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="background-color:#0a1323 font-color:white bold"
                    type= "submit" value="howtoplay" onclick="showinstructionsPage()">HOW TO PLAY</button>
                    <button class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="background-color:#0a1323 font-color:white bold"
                    type= "submit" value="howtoplay" onclick="showstartPage()">START</button></center>
        </div>

    <center>
    <div id="fb-root"></div>
				<div class="fb-login-button" data-size="large" data-button-type="login_with"
					data-auto-logout-link="true" data-use-continue-as="false"
					scope="public_profile,email" onlogin="checkLoginState();"></div>

				<br/><br/>
				<div id="google-signin2"></div>
    </center>
    </div>

    </div>
     </section>

    <!-- end of loginPage page-->

	<section id="mapPage" style="display:none;">
			<center>
				<h1>Mapa</h1></center>
				<div id="map"></div>
				<br/>
			<div id="listFormDiv" style="margin:20px;"></div>
	</section>

	<section id="formPage" style="display:none;">
			<center>
				<h1>Cadastro</h1></center>
			<div id="userfield" style="margin:30px;">
				Usuário:<b> Não Logado</b>
			</div>
			<div style="margin:30px;">
				<label for="feedbackmessageTextArea"><b>Envie-nos seu feedback, dúvidas ou sugestões:</b></label>
				<textarea id="feedbackmessageTextArea"></textarea>
			</div>
			<div style="margin:30px;">
				<label for="contactField"><b>Informação de contato:</b></label>
				<input id="contactField" type="text">
			</div>
			<div>
				<center><button type="button" name="action" onclick="saveForm();">Salvar</button></center>
			</div>
	</section>
    </div>


    <section id="instructionsPage"style="display:none;">
    <div >
    <div class="container" >
      <section id="header">
        <div>
        <center>
        <br/>
        <br/>
        <a target="_blank" name= "LogoApp" href="https://www.thealmacollective.com">
        <img src="/static/logoapp.png" width="150" alt="Logo do App"/></a>
        </center>
        <br>
        <br>
        </div>
      </section>
     <br>
     <br>
     <br>

        <div class="row" style="text-align:center">
        <span class="flow-text" style= "font-family: adelle-sans; font-size: 25pt; line-height:25pt;text-transform:bold">There are 24h in a day and you will see 24 blocks. Roughly, at what times was your child exposed to your language yesterday?
Click each box this applies to. Hit “calculate” when you finish.
        </span>
        </div>
        <br>
        <br>

        <div>
        <center><button class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="background-color:#0a1323 font-color:white bold"
                    type= "submit" value="howtoplay" onclick="showstartPage()">START</button></center>
        </div>
    <br>
    <br>
    <br>
    </div>
    </div>
    </section>
    <!--end of Instructions page-->

    <!--Start Page-->
    <section id="startPage" style="display:none;">
      <div>
              <center>
                  <br/><br/>
                  <a target="_blank" name= "LogoApp" onclick="dataLayer.push({'event': 'LogoApp-click'});" href="https://www.thealmacollective.com"><img src="/static/logoapp.png" width="150" alt="Logo do App"/></a>
              </center>

                  <br>

                  <div class="headlineB"><center>
                      Time Tracker&trade;</center>
                  </div>

      </div>
     <br>
     <br>
     <br>
 <!--Show on Desktops-->
     <div class="show-on-large hide-on-med-and-down">
     <div class="container" style="width: 60%">

            <div class="row">
                <div class="col s6" style="padding: 0 .05rem;"><span class="copyB left-align" style="line-height: 14pt;font-weight: bold;">&nbsp;AM</span></div>
                <div class="col s6" style="padding: 0 .05rem;"><span class="copyB left-align" style="line-height: 14pt;font-weight: bold;">&nbsp;PM</span></div>

                    <div class="col l6" style="padding: 0 .05rem;">

                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                    </div>

                    <div class="col l6" style="padding: 0 .05rem;">

                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                    </div>

                <div class="col l6" style="padding: 0 .05rem;">

                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                    </div>
                <div class="col l6" style="padding: 0 .05rem;">

                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                            <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                    </div>

                   </div>

                <br>
               <!-- Modal trigger -->
                <center><button id="calculate" name= "calculate" class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="background-color:#0a1323 font-color:white bold"
                    type= "submit" value="calculate" data-target="choice1" onclick="checkboxes(); dataLayer.push({'event': 'calculate-click'});">CALCULATE</button></center>
                <div>
                <br>
                <center>
                <a href="#" onclick="showinstructionsPage()" class="btn hyperlink z-depth-0" style="padding: 0 0px;height: 20px; color:black; color:black; background-color:transparent;
                font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold;text-transform:none">HOW TO PLAY</a>
                </center>
                </div>
                <br>
                <br>

        <!-- Modal content -->
        <!-- End of Modal -->
            <div class="row" style="text-align:center">

            <p class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt">The Time Tracker™ is a tool developed by <a target="_blank" href="https://www.thealmacollective.com/timetracker" class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt; color:black; text-decoration: underline; font-color:black">The Alma Collective</a> to make your efforts in raising multilingual
            children tangible. There’s no need to open an account or give us your name at this stage. It is an invitation to play,
            explore, and improve. We’d love to <a target="_blank" href="https://thealmacollective.typeform.com/to/eSMZcW" class="copyB" style="line-height: 14pt;font-weight: bold; font-family: adelle-sans; font-size:10pt; color:black; text-decoration: underline; font-color:black">hear your feedback </a> on it.
            </p>
            <br>
            </div>


     </div>
    </div>
<!--Show on Tablets and Mobiles-->
    <div class="show-on-medium-and-down hide-on-large-only">
        <div class="container" >

           <div class="row">
                   <div class="col s12 m12 l12">
                       <div class="col s1"style="text-align:right"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;</span></div>
                       <div class ="col s11 m11 l11">
                       <div class ="col s12 m12 l12">

                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;12</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;1</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;2</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;3</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;4</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;5</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;6</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;7</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;8</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;&nbsp;9</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;10</span></div>
                               <div class="col s1"><span class="copyB" style="line-height: 14pt;font-weight: bold;">&nbsp;11</span></div>
                       </div>

                      </div>
                   </div>
           </div>

           <div class="row">
                       <div class="col s12 m12 l12">
                       <div class="col s1"style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">AM</span></div>
                       <div class="col s11 m11 l11">
                       <div class ="col s12 m12 l12">

                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in z-depth-0" /><span></span></label></div>
                       </div>
                       </div>
                       </div>
           </div>

            <div class="row">
                       <div class="col s12 m12 l12">

                       <div class="col s1" style="text-align:right;"><span class="copyB" style="font-family: adelle-sans; line-height: 14pt;font-weight: bold;">PM</span></div>
                       <div class="col s11 m11 l11">
                       <div class="col s12 m12 l12">

                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                                   <div class="col s1" ><label><input type="checkbox" id="box-0" class="filled-in" /><span></span></label></div>
                       </div>
                       </div>

                   </div>
            </div>

                   <br>
                   <br>

               <!-- Modal Trigger -->


                   <center><button id="calculate" class="btn waves-effect blue-grey darken-4 z-depth-0 modal-trigger" style="background-color:#0a1323 font-color:white bold"
                       type= "submit" value="calculate" data-target="choice1" onclick="checkboxes()">CALCULATE</button></center>
                   <div>
                   <br>
                   <center>
                   <a href="#"  onclick="showinstructionsPage()" class="btn hyperlink z-depth-0" id="show" value='show'  style="padding: 0 0px;height: 20px; color:black; color:black; background-color:transparent; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold;text-transform:none" >HOW TO PLAY</a>
                   </center>
                   </div>

           <!-- message at the bottom -->

               <div class="row" style="text-align:center">
               <p class="descriptionR" style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt;">The Time Tracker™ is a tool developed by <a target="_blank" href="https://www.thealmacollective.com/timetracker" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold">The Alma Collective</a> to make your efforts in raising multilingual
               children tangible. There’s no need to open an account or give us your name at this stage. It is an invitation to play,
               explore, and improve. We’d love to <a href="https://thealmacollective.typeform.com/to/eSMZcW" class="hyperlink" style="color:black; font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold; font-color:black">hear your feedback </a> on it.
               </p>
               <br>
               <br>
               </div>
        </div>
       </div>
     <!-- Modal content -->
     <div class="modal" id="choice1" style="top:15%; bottom:15%; width:80%">
                   <div style="text-align:right">
                   <button class="btn modal-close z-depth-0" style="color:black; background-color:#fafafa; text-transform:none">X</button>
                   </div>
               <br>
               <br>
               <br>
               <br>
               <br>

               <div class="modal-content">
               <div class="modal-body" style="text-align:center">
                   <div id="modalContentContainer" class="number" style="font-family:adelle; font-weight: 700;"></div>

                    <div href="#" class="flow-text"><center><p class="copyB" style="font-family: adelle-sans; font-size: 10pt; line-height:14pt;font-weight: 700;"> This is your child's weekly average exposure to your language based on your predictions.
                     <br>
                     <center>
                <a href="#" class="btn modal-close hyperlink z-depth-0" onclick="showstartPage()" style="padding: 0 0px;height: 20px; color:black; color:black; background-color:transparent;
                font-size: 8pt; line-height: 12pt; text-decoration: underline; font-weight: bold;text-transform:none">Want to have another go?</a>
                </center>
                   </div>
                   <div>
                       <center><a target="_blank" href="https://www.thealmacollective.com/timetracker-signupnow" ><button class="btn waves-effect blue-grey darken-4 z-depth-0 description " style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">&nbsp;Sign Up</button></a>

                               <a target="_blank" href="https://thealmacollective.typeform.com/to/eSMZcW"><button class="btn waves-effect blue-grey darken-4 z-depth-0 description " style="font-family: adelle-sans; font-size: 8pt; line-height: 12pt; font-color:white bold; text-transform:none;">Feedback</button></a>

                       </center>
                   </div>
               </div>
               </div>
     </div>
      <!-- End of Modal -->


    </section>
    </div>
    <!--end Start Page-->


<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>

      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<!--Checkbox function-->
<!--Modal Initialization-->
     <script src="/static/js/application.js"></script>

<script>
var login = "";
var token = "";
var userid = "";
var username = "Você";



//Inicializacao do Menu
document.addEventListener('DOMContentLoaded', function() {
  var elems = document.querySelectorAll('.sidenav');
  var instances = M.Sidenav.init(elems);
});


function hideAllPages() {
  document.getElementById("loginPage").style.display = "none";
  document.getElementById("formPage").style.display = "none";
  document.getElementById("mapPage").style.display = "none";
  document.getElementById("instructionsPage").style.display = "none";
  document.getElementById("startPage").style.display = "none";
}

function showloginPage() {
  hideAllPages();
  document.getElementById("loginPage").style.display = "block";
}
function showformPage() {
  hideAllPages();
  document.getElementById("formPage").style.display = "block";
}
function showMapPage() {
  hideAllPages();
  document.getElementById("mapPage").style.display = "block";
  listForm();
}
function showinstructionsPage() {
  hideAllPages();
  document.getElementById("instructionsPage").style.display = "block";
}
function showstartPage() {
  hideAllPages();
  document.getElementById("startPage").style.display = "block";
}

function saveNewUser(login, userid, username, useremail) {
	addMarker(latitude, longitude, username);
	document.getElementById("userfield").innerHTML = "Usuário:<b> " + username + "</b>";
	var url = "/saveNewUser?"
				+ "login=" + login
				+ "&userid=" + userid
        + "&latitude=" + latitude
        + "&longitude=" + longitude
				+ "&username=" + username
				+ "&useremail=" + useremail;

  fetch(url, {method: 'POST'})
    .then(function(response) {
      console.log('Successful login: ' + response);
    });
}

function roundToTwo(num)
{
    return +(Math.round(num + "e+2")  + "e-2");
 }

function checkboxes()
    {
     var modalContent = document.getElementById('modalContentContainer');
     var inputElems = document.getElementsByTagName("input"),
      count = 0;

      for (var i=0; i<inputElems.length; i++) {
        if (inputElems[i].type == "checkbox" && inputElems[i].checked == true){
            count++
            total= roundToTwo(count*4.2);
        }
      }
     modalContent.innerHTML = total+"%";
 }

document.addEventListener("DOMContentLoaded", function()
{
       const box = document.querySelectorAll(".modal");
       M.Modal.init(box, {
           opacity:0.6,
           inDuration:250,
           outDuration:250,
           dismissible: true,

       });
 });

</script>

  </body>
</html>