<html>

<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="google-signin-client_id" content="XXXXXXXXXXXXXXX.apps.googleusercontent.com">
	<title>:: TIME TRACKER ::</title>

	<link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

	<script src="/static/js/facebook.js"></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/pt_BR/sdk.js"></script>
	<script src="/static/js/googlelogin.js"></script>
	<script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX" async defer></script>

	<script src="/static/js/application.js"></script>
	<script src="/static/js/form.js"></script>
	<script src="/static/js/map.js"></script>
	<style>
		@import url("/static/css/main.css");
	</style>
</head>

<body>
	<div class="background">
        <section id="introduction">
            <center>
                <br/><br/><br/>
                <img src="/static/logoapp.png" width="200" alt="Logo do App" />

                <div><h3> We all speak our language to our children "all the time". But how much is it really? Use our Time Tracker to find out:</h3></div>
    <div><center><button type="button" name="action">START</button></center></div>
    <div>
        <center><h4 strong>The Time Tracker is a tool developped by The Alma Collective to make your efforts in raising multilangual children tangible.
        There's no need to open an account or give us your name. This is an invitation to play, explore, and improve.
        </h4 strong></center></div>

		</section>

	</div>
</body>
</html>