<html>

<head>
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
	<meta name="google-signin-client_id" content="XXXXXXXXXXXXXXX.apps.googleusercontent.com">
	<title>:: TIME TRACKER ::</title>

	<style>
		@import url("/static/css/main.css");
	</style>
</head>

<body>
	<div class="background">
        <section id="header">
            <center>
                <br/><br/><br/>
                <img src="/static/logoapp.png" width="200" alt="Logo do App" />
                <br/><br/><br/>
            </center>
        </section>

        <section id="introduction">
            <label><h3> We all speak our language to our children "all the time". But how much is it really? Use our Time Tracker to find out:<h3></label>
            <div><center><button type="button" name="action">START</button></center></div>
            <label><h4> The Time Tracker is a tool developped by The Alma Collective to make your efforts in raising multilangual children tangible.
        There's no need to open an account or give us your name. This is an invitation to play, explore, and improve.</h4>
            </label>
         </section>



	</div>
</body>
</html>